#projects{

	.projects-list{
		@media screen and (min-width: $width-lg){
			position: relative;
			.filters{
				margin-left: 80%;
			}
			.projects{
				position: absolute;
				left: 0;
				padding-right: 30px;
				padding-bottom: 30px;
			}
			.checkbox-container{
				margin-bottom: 6px;
			}
			h3{
				font-weight: bold;
    			border-bottom: 2px solid;
    			margin-top: 6px;			
			}

		}
	}
	
	.project-desc{
		ul{
			list-style: disc inside;
			padding-top: 20px;
			li{
				margin-bottom: 20px;
				font-size: $font-size-med;
	    		line-height: $font-size-large;
			}
		}
	}
	
	&.no-fixed-sidebar{
		.sidebar{		
			@media screen and (min-width: $width-lg){
				position: static;
			}
		}
		.content{
			@media screen and (min-width: $width-lg){
				margin-left: 0;
			}
		}
	}

	.sidebar{

		padding: 50px 15px 30px;
    	text-align: center;


		@media screen and (min-width: $width-lg){

			padding: 0;
			position: fixed;
	    	top: 0;
	    	bottom: 0;
	    	padding-top: 50px;
	    	text-align: left;
	    	.header{
	    		margin: 50% 20px 20px;
	    	}
	    }

		background-color: $gold4;
		h1{
			color: $white;
		}
		h2{
			color: $gold3;
		}
	}
	.content{
		padding: 15px;
		@media screen and (min-width: $width-lg){
			margin-left: 25%;
			padding: 30px;
		}
	}
	.back-link{
		margin-bottom: 20px;
    	display: inline-block;
	}
	.project:not(:last-child){
		margin-bottom: 20px;
    	padding-bottom: 10px;
    	border-bottom: 1px solid rgba(227,213,191,0.7);
	}
	.project-skills{
		margin-top: 8px;
		margin-right: 6px;
		a, .skill-name{
			background-color: $gold3;
    		padding: 3px 10px;
    		display: inline-block;
    		text-decoration: none;
    		font-weight: normal;
		}
		a{
			
    		&:hover{
    			text-decoration: underline;
    		}
		}
	}
	.project-eyecatcher{
		overflow: hidden;
		img{
			float: left;
			border: solid 1px #ddd;
			margin-right: 20px;
			margin-bottom: 40px;
		}
	}
	.project-demo{
		margin-bottom: 20px;
    	margin-top: 20px;
	}
	.skills-list{
		h3{
			display: inline-block;
			margin-right: 10px;
		}
		span, a{
			background-color: $gold3;
			padding: 2px 5px;
		    margin-right: 5px;
		    text-decoration: none;
		    display: inline-block;
		    line-height: 20px;
		    vertical-align: top;
		}
		.selected{
			background-color: $gold4;
			color: white;
		}
	}
	.skill-details{
		min-height: 200px;
		img{
			float: left;
		}
	}
	.flex-control-nav{
		bottom: 0;
	}
	.flexslider{
		margin: 0 0 20px;
	}

}
.project-description{
	&:nth-child(n+3){
		margin-top: 30px;
	}
}
.experience-header{
	overflow: hidden;
	h2{
		float: left;
	}
	img{
		float: right;
		max-height: 50px;
		&.williams-lea-tso{
			height: 35px;
		}
	}
}