#projects{
	
	&.no-fixed-sidebar{
		.sidebar{		
			@media screen and (min-width: $width-md){
				position: static;
			}
		}
		.content{
			@media screen and (min-width: $width-md){
				margin-left: 0;
			}
		}
	}

	.sidebar{
		
		@media screen and (min-width: $width-md){
			position: fixed;
	    	top: 0;
	    	bottom: 0;
	    	padding-top: 50px;
	    	.header{
	    		margin: 50% 20px 20px;
	    	}
	    }

		background-color: $gold4;
		h1{
			color: $white;
		}
		h2{
			color: $gold3;
		}
	}
	.content{
		@media screen and (min-width: $width-md){
			margin-left: 25%;
			padding: 30px;
		}
	}
	.back-link{
		margin-bottom: 20px;
    	display: inline-block;
	}
	.project:not(:last-child){
		margin-bottom: 20px;
    	padding-bottom: 10px;
    	border-bottom: 1px solid rgba(227,213,191,0.7);
	}
	.project-skills{
		margin-top: 8px;
		margin-right: 6px;
		a{
			background-color: $gold3;
    		padding: 3px 10px;
    		display: inline-block;
    		text-decoration: none;
    		font-weight: normal;
    		&:hover{
    			text-decoration: underline;
    		}
		}
	}
	.project-eyecatcher{
		overflow: hidden;
		img{
			float: left;
			border: solid 1px #ddd;
			margin-right: 10px;
			margin-bottom: 40px;
		}
	}
	.project-demo{
		margin-bottom: 20px;
    	margin-top: 20px;
	}
	.skills-list{
		span, a{
			background-color: $gold3;
			padding: 2px 5px;
			margin-right: 5px;
			text-decoration: none;
		}
		.selected{
			background-color: $gold4;
			color: white;
		}
	}
	.skill-details{
		img{
			float: left;
		}
	}

}