body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: $font-size-base;
	color: $grey-dark;
}
.pure-g [class *="pure-u"], .pure-g {
    font-family: inherit !important;
}
a{
	// color: $gold4;
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}
.content{
	a{
		font-weight: bold;
		text-decoration: underline;
		color: $grey-dark;
	}
}

// make it the background colour and underline it - like croydon. Check out some other sites - gazette, BP, 
// bold and underlined

// pick a font
// pick a text color

h1{
	font-size: $font-size-xxxl;
	margin-bottom: 20px;
}
h2{
	font-size: $font-size-xxl;
	line-height: $font-size-xxl;
	margin-bottom: 20px;
}
h3{
	font-size: $font-size-xl;
	margin-bottom: 20px;
}
h4{
	font-size: $font-size-large;
	margin-bottom: 20px;
}
p{
	margin-bottom: $font-size-base
}
strong{
	font-weight: bold;
}
.btn{
	font-size: 20px;
	border: 1px solid #fff;
	background-color: $gold3;
	color: #fff;
	padding: 6px 20px;
	border-radius: 5px;
}