/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_typeog.scss */
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  color: #333333;
}

/* line 6, ../sass/_typeog.scss */
.pure-g [class*="pure-u"], .pure-g {
  font-family: inherit !important;
}

/* line 9, ../sass/_typeog.scss */
a {
  text-decoration: none;
}
/* line 12, ../sass/_typeog.scss */
a:hover {
  text-decoration: underline;
}

/* line 17, ../sass/_typeog.scss */
.content a {
  font-weight: bold;
  text-decoration: underline;
  color: #333333;
}

/* line 30, ../sass/_typeog.scss */
h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

/* line 34, ../sass/_typeog.scss */
h2 {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 20px;
}

/* line 39, ../sass/_typeog.scss */
h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* line 43, ../sass/_typeog.scss */
h4 {
  font-size: 21px;
  margin-bottom: 20px;
}

/* line 47, ../sass/_typeog.scss */
p {
  margin-bottom: 15px;
}

/* line 50, ../sass/_typeog.scss */
strong {
  font-weight: bold;
}

/* line 53, ../sass/_typeog.scss */
.btn {
  font-size: 20px;
  border: 1px solid #fff;
  background-color: #bbae99;
  color: #fff;
  padding: 6px 20px;
  border-radius: 5px;
}

/* line 4, ../sass/_projects.scss */
#projects .project-desc ul {
  list-style: disc inside;
  padding-top: 20px;
}
/* line 7, ../sass/_projects.scss */
#projects .project-desc ul li {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 21px;
}
@media screen and (min-width: 768px) {
  /* line 16, ../sass/_projects.scss */
  #projects.no-fixed-sidebar .sidebar {
    position: static;
  }
}
@media screen and (min-width: 768px) {
  /* line 21, ../sass/_projects.scss */
  #projects.no-fixed-sidebar .content {
    margin-left: 0;
  }
}
/* line 28, ../sass/_projects.scss */
#projects .sidebar {
  background-color: #6d595f;
}
@media screen and (min-width: 768px) {
  /* line 28, ../sass/_projects.scss */
  #projects .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    padding-top: 50px;
  }
  /* line 35, ../sass/_projects.scss */
  #projects .sidebar .header {
    margin: 50% 20px 20px;
  }
}
/* line 41, ../sass/_projects.scss */
#projects .sidebar h1 {
  color: white;
}
/* line 44, ../sass/_projects.scss */
#projects .sidebar h2 {
  color: #bbae99;
}
@media screen and (min-width: 768px) {
  /* line 48, ../sass/_projects.scss */
  #projects .content {
    margin-left: 25%;
    padding: 30px;
  }
}
/* line 54, ../sass/_projects.scss */
#projects .back-link {
  margin-bottom: 20px;
  display: inline-block;
}
/* line 58, ../sass/_projects.scss */
#projects .project:not(:last-child) {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(227, 213, 191, 0.7);
}
/* line 63, ../sass/_projects.scss */
#projects .project-skills {
  margin-top: 8px;
  margin-right: 6px;
}
/* line 66, ../sass/_projects.scss */
#projects .project-skills a {
  background-color: #bbae99;
  padding: 3px 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: normal;
}
/* line 72, ../sass/_projects.scss */
#projects .project-skills a:hover {
  text-decoration: underline;
}
/* line 77, ../sass/_projects.scss */
#projects .project-eyecatcher {
  overflow: hidden;
}
/* line 79, ../sass/_projects.scss */
#projects .project-eyecatcher img {
  float: left;
  border: solid 1px #ddd;
  margin-right: 20px;
  margin-bottom: 40px;
}
/* line 86, ../sass/_projects.scss */
#projects .project-demo {
  margin-bottom: 20px;
  margin-top: 20px;
}
/* line 91, ../sass/_projects.scss */
#projects .skills-list span, #projects .skills-list a {
  background-color: #bbae99;
  padding: 2px 5px;
  margin-right: 5px;
  text-decoration: none;
}
/* line 97, ../sass/_projects.scss */
#projects .skills-list .selected {
  background-color: #6d595f;
  color: white;
}
/* line 102, ../sass/_projects.scss */
#projects .skill-details {
  min-height: 200px;
}
/* line 104, ../sass/_projects.scss */
#projects .skill-details img {
  float: left;
}
/* line 108, ../sass/_projects.scss */
#projects .flex-control-nav {
  bottom: 0;
}
/* line 111, ../sass/_projects.scss */
#projects .flexslider {
  margin: 0 0 20px;
}

/* line 117, ../sass/_projects.scss */
.project-description:nth-child(n+3) {
  margin-top: 30px;
}

/* line 121, ../sass/_projects.scss */
.experience-header {
  overflow: hidden;
}
/* line 123, ../sass/_projects.scss */
.experience-header h2 {
  float: left;
}
/* line 126, ../sass/_projects.scss */
.experience-header img {
  float: right;
  max-height: 50px;
}
/* line 129, ../sass/_projects.scss */
.experience-header img.williams-lea-tso {
  height: 35px;
}

/* line 15, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 18, ../sass/screen.scss */
html {
  overflow-y: scroll;
}

/* line 22, ../sass/screen.scss */
.pure-g {
  margin-bottom: 20px;
}

/* line 26, ../sass/screen.scss */
.top-nav {
  background-color: #bbae99;
  padding: 15px;
  position: relative;
  z-index: 99;
}
/* line 32, ../sass/screen.scss */
.top-nav .menu-heading {
  font-size: 18px;
}
/* line 35, ../sass/screen.scss */
.top-nav a {
  color: #333;
}
/* line 38, ../sass/screen.scss */
.top-nav .menu-list {
  font-size: 18px;
  float: right;
}
/* line 41, ../sass/screen.scss */
.top-nav .menu-list > li {
  display: inline-block;
  padding-left: 10px;
}

/* line 47, ../sass/screen.scss */
.pure-g #intro-container {
  text-align: center;
  background-color: #6d595f;
  padding: 60px 80px 40px;
  height: 310px;
}
/* line 52, ../sass/screen.scss */
.pure-g #intro-container .btn {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 20px;
  text-transform: uppercase;
  border-width: 2px;
  font-size: 24px;
}

/* line 62, ../sass/screen.scss */
.jumbo-box {
  color: white;
  font-size: 35px;
}
/* line 65, ../sass/screen.scss */
.jumbo-box > span {
  padding: 20px 100px;
  border: 2px solid white;
  border-radius: 5px;
  display: inline-block;
  line-height: 50px;
}

/* line 73, ../sass/screen.scss */
.featured-content {
  margin-top: 40px;
}
/* line 75, ../sass/screen.scss */
.featured-content h2 {
  text-align: center;
  text-transform: uppercase;
  color: #555555;
  margin-bottom: 40px;
}
/* line 81, ../sass/screen.scss */
.featured-content .thumbnail {
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}
/* line 85, ../sass/screen.scss */
.featured-content .thumbnail img {
  width: 90%;
  width: calc(100% - 20px);
  border: 1px solid #cccccc;
}
/* line 92, ../sass/screen.scss */
.featured-content .thumbnail .view {
  overflow: hidden;
}
/* line 101, ../sass/screen.scss */
.featured-content .thumbnail .view .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
/* line 109, ../sass/screen.scss */
.featured-content .thumbnail .view img {
  position: relative;
}
/* line 113, ../sass/screen.scss */
.featured-content .thumbnail .view h2 {
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 5px;
  background: rgba(109, 89, 95, 0.95);
  background: rgba(0, 0, 0, 0.75);
  margin: 20px 0 0 0;
}
/* line 125, ../sass/screen.scss */
.featured-content .thumbnail .view p {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 15px;
  line-height: 18px;
  color: #222222;
  padding: 18px 20px 20px;
  text-align: center;
}
@media screen and (min-width: 1280px) {
  /* line 125, ../sass/screen.scss */
  .featured-content .thumbnail .view p {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
/* line 142, ../sass/screen.scss */
.featured-content .thumbnail .view a.info {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  background: #6d595f;
  background: #333333;
  color: white;
  text-transform: uppercase;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 18px;
}
/* line 153, ../sass/screen.scss */
.featured-content .thumbnail .view a.info:hover {
  text-decoration: underline;
}
/* line 158, ../sass/screen.scss */
.featured-content .thumbnail .view-first:hover {
  box-shadow: 1px 1px 2px #cccccc;
}
/* line 161, ../sass/screen.scss */
.featured-content .thumbnail .view-first img {
  transition: all 0.2s linear;
}
/* line 164, ../sass/screen.scss */
.featured-content .thumbnail .view-first .mask {
  opacity: 0;
  background-color: rgba(187, 174, 153, 0.81);
  transition: all 0.4s ease-in-out;
}
/* line 169, ../sass/screen.scss */
.featured-content .thumbnail .view-first h2 {
  transform: translateY(-100px);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
/* line 174, ../sass/screen.scss */
.featured-content .thumbnail .view-first p {
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.2s linear;
}
/* line 179, ../sass/screen.scss */
.featured-content .thumbnail .view-first a.info {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
/* line 184, ../sass/screen.scss */
.featured-content .thumbnail .view-first:hover img {
  transform: scale(1.1);
}
/* line 187, ../sass/screen.scss */
.featured-content .thumbnail .view-first:hover .mask {
  opacity: 1;
}
/* line 192, ../sass/screen.scss */
.featured-content .thumbnail .view-first:hover h2,
.featured-content .thumbnail .view-first:hover p,
.featured-content .thumbnail .view-first:hover a.info {
  opacity: 1;
  transform: translateY(0px);
}
/* line 196, ../sass/screen.scss */
.featured-content .thumbnail .view-first:hover p {
  transition-delay: 0.1s;
}
/* line 199, ../sass/screen.scss */
.featured-content .thumbnail .view-first:hover a.info {
  transition-delay: 0.2s;
}
