<div id="plugins" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <h1 class="brand-title">Our JavaScript Plugins</h1>
            <h2 class="brand-tagline">View the code, explore the options and download the plugins</h2>
        </div>
    </div>
    <div class="content pure-u-1 pure-u-md-3-4">
        <a class="back-link" href="#/plugins">Back to plugins</a>
        <h2 class="plugin-title">{{plugin.title | capitalize}} in Action</h2>
        <div ng-bind-html="plugin.html" class="plugin-demo"></div>
        
        <div style="margin-bottom: 20px;">
          <label for="repeatSelect">Toggle View: </label>    

          <select name="mySelect" id="mySelect" ng-options="option.name for option in option.availableOptions track by option.id" ng-model="option.selectedOption" ng-change="changeOption(option.selectedOption)"></select><br>  

        </div>

        <a class="back-link" href="assets/downloads/{{plugin.title.toLowerCase().replace(' ', '-')}}.zip">Download {{plugin.title}}</a>
        <div class="steps">
            <h3>Steps to Integrate:</h3>            
            <ol>
                <li>
                    <h4>HTML</h4>
                </li>
                <li>
                    <h4>CSS</h4>
                </li>
                <li>
                    <h4>JS</h4>
                </li>
            </ol>
        </div>
    </div>
</div>