<div id="projects" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-lg-1-4">
        <div class="header">
            <h1 class="brand-title">Development Projects</h1>
            <h2 class="brand-tagline">Technology  stacks including Drupal, AngularJS, jQuery and Custom Frameworks</h2>
        </div>
    </div>
    <div class="content pure-u-1 pure-u-lg-3-4">
        <div class="pure-g projects-list">
            
            <div class="pure-u-1 pure-u-lg-1-5 filters">
                <h3>Filter by skill:</h3>
                <div class="checkbox-container" ng-repeat="skill in skillsCheckboxes">
                    <label>
                      <input
                        type="checkbox"
                        value="{{skill}}"
                        ng-checked="selectedSkills.indexOf(skill) > -1"
                        ng-click="toggleSelection(skill)"
                      > {{skill}}
                    </label>
                </div>
            </div>

            <div class="pure-u-1 pure-u-lg-4-5 projects">
                <section class="project" ng-repeat="project in projects | filter:skillFilter">
                    <header class="project-header">
                        <h2 class="project-title"><a href="#/projects/{{project.title.toLowerCase().split(' ').join('-')}}">{{project.title}}</a></h2>                    
                    </header>
                    <div class="project-description">
                        <p>{{project.desc}}</p>
                        <div class="project-skills">
                            <span>Skills Used:</span>
                            <span class="skill-name" style="margin-right: 5px;" ng-repeat="skill in project.skills">{{skill}}</span>
                        </div>
                    </div>
                </section>
            </div>
           
        </div>
    </div>
</div>