<div id="projects" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <h1 class="brand-title">Development Projects</h1>
            <h2 class="brand-tagline">Techonolgy stacks including Drupal, AngularJS, EmberJS and Custom Frameworks</h2>
        </div>
    </div>
    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            <div class="projects">
            	<section class="project" ng-repeat="project in projects">
                    <header class="project-header">
                        <h2 class="project-title"><a href="#/projects/{{project.title.toLowerCase().split(' ').join('-')}}">{{project.title}}</a></h2>                    
                    </header>
                    <div class="project-description">
                        <p>{{project.desc}}</p>
                        <div class="project-skills">
                            <span>Skills Used:</span>
                            <a style="margin-right: 5px;" href="#" ng-repeat="skill in project.skills">{{skill}}</a>
                            <!-- <h4 style="float: left; margin-right: 20px; line-height: 40px;">Skills Used: </h4>
                            <img height="40px" style="margin-right: 10px;" alt="{{skill}}" ng-repeat="skill in project.skills" src="/assets/img/logos/{{skill.toLowerCase().split(' ').join('-')}}.png"> -->
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>