<div id="projects" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <h1 class="brand-title">Development Projects</h1>
            <h2 class="brand-tagline">Technology stacks including Drupal, AngularJS, jQuery and Custom Frameworks</h2>
        </div>
    </div>
    <div class="content pure-u-1 pure-u-md-3-4">
        <a class="back-link" href="#/projects">Back to projects</a>
        <h2 style="font-weight: bold;" class="project-title">{{project.title}}</h2>
        <h3>{{project.subtitle}}</h3>      

        <div class="project-eyecatcher" ng-switch on="slides">
            
            <div ng-switch-default>                
                <flex-slider slide="s in slides">
                    <li>
                        <img ng-src="{{s}}">
                    </li>
                </flex-slider>
            </div>
            
            <div class="project-desc" ng-switch-when="false">                
                <img ng-src="/assets/img/featured/{{projectTitle}}.jpg" width="50%">
                <ng-include ng-src="descUrl"></ng-include>
                <br>
                <br>            
            </div>
        </div>

        <div class="skills-list-new">
            <h3>Skills Used</h3>
            <div class="pure-g">
                <div class="skill-box pure-u-1 pure-u-md-1-2" ng-repeat="skill in project.skills">                    
                    <div class="skill-border">
                        <div class="">
                          <h4>                            
                            <img ng-show="skill.imgName !== undefined" class="logo" ng-src="/assets/img/logos/{{skill.imgName}}.png">
                            <span>{{skill.humanName}}</span>
                          </h4>
                        </div>
                        <p>{{skill.description}}</p>
                    </div>
                </div>                
            </div>
        </div>

    </div>
</div>